{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="/static/css/UserRegisterPageStyle.css">

{% endblock head %}

{% block body %}

<div class="register-text-div">
    <h1>Hi,Welcome to EMAM COIN bot</h1>
    <h4>register in the bot and continue</h4>
</div>

<div class="credential-fields-div">
    <form action="" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <p>username : </p>            
                <h1>{{form}}</h1>
                <input type="submit" value="continue" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>


{% endblock body %}